
# ---------------------------------------------------------------------------- #
#                                    PROJECT                                   #
# ---------------------------------------------------------------------------- #

# Exclude output files
src/**/exercise-02/**/informe.*
src/**/exercise-04/**/*.log



# ---------------------------------------------------------------------------- #
#                                  POWERSHELL                                  #
# ---------------------------------------------------------------------------- #

# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll
